:root {
  --back-color: #14181f;
  --main-color: #17cfbf;
  --text-color: white;
  --secondary-color: #191d24;
  --secondary-text-color: #7588a3;
  --border-color: #303541;
}
* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NAV */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  font-weight: bold;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}
nav p {
  font-size: 35px;
  color: var(--text-color);
}
nav p span {
  color: var(--main-color);
  text-shadow: 0px 0px 10px var(--main-color);
}
nav i:nth-child(1) {
  color: var(--main-color);
  font-size: 25px;
}
nav i:nth-child(3) {
  color: yellow;
  font-size: 18px;
}

/* SETTINGS */
#settings-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 20px;
  gap: 5px;
}
#settings-cont i {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
}
#settings-btn {
  color: var(--main-color);
}
#leader-btn {
  color: yellow;
}

#pre-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pre-game.playing {
  display: none;
}

/* EMPTY */
#empty-grid {
  background-color: var(--secondary-color);
  max-width: 600px;
  margin: 50px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 3px dashed var(--border-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
}
#empty-grid i {
  font-size: 50px;
}
#empty-grid p {
  color: var(--border-color);
}

/* BUTTONS */
#start,
#play-again {
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--back-color);
  border: none;
  font-size: 30px;
  box-shadow: 0px 0px 10px 0px var(--main-color);
}

/* GRID */
#game-play-ui {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#game-play-ui.playing {
  display: flex;
}
#game-grid {
  width: 100%;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: grid;
}

/* CARD */

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transition-duration: 0.3s;
}
.card.right::before {
  background-color: rgba(54, 255, 54, 0.3);
}
.card.flipped {
  transform: rotateY(180deg);
}
.card-face {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card-front {
  background-color: #153438;
}
.card-front i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: #154c4e;
  color: var(--main-color);
}

.card .card-back {
  transform: rotateY(180deg);
  background-color: red;
}

/* GAME INFO */
#game-info {
  display: flex;
  width: 100%;
  padding: 5px 20px;
  gap: 10px;
}
@media (max-width: 510px) {
  #game-info {
    flex-direction: column;
  }
  .info-cont .text-info {
    flex-direction: column;
  }
}
.info-cont {
  background-color: var(--secondary-color);
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-text-color);
}
.info-cont .text-info {
  display: flex;
  gap: 5px;
}
.info-cont .text-info .time {
  color: var(--text-color);
}
.info-cont .time-content {
  display: flex;
  gap: 5px;
}
.info-cont .progress {
  width: 100%;
  height: 10px;
  background-color: var(--border-color);
  border-radius: 50px;
  margin-top: 10px;
  position: relative;
}
.info-cont .progress span {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  width: 0%;
  height: 100%;
  border-radius: 10px;
  /* transition-duration: 1s;
  transition-timing-function: linear; */
}
.lives-content {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.lives-content i {
  color: #e23636;
}

/* LOSS */
#game-end {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-end.hide {
  display: none;
}
#game-end .game-end-bg {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
#game-end.win .game-end-bg {
  border-color: green;
}
#game-end-icon-cont {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 50%;
  background-color: #44262d;
  color: #e23636;
}
#game-end.win #game-end-icon-cont {
  background-color: #2d442d;
  color: #2de236;
}
#game-end-title {
  color: #e23636;
  font-weight: bold;
  font-size: 35px;
}
#game-end.win #game-end-title {
  color: #2de236;
}
#game-end-msg {
  color: var(--secondary-text-color);
}
#game-end-info-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
#game-end-info-row .game-end-info-item-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--border-color); */
  background-color: #242932;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  width: 100%;
  flex: 1;
}
#game-end-info-row .game-end-val {
  color: var(--text-color);
  font-size: 25px;
}
#game-end-info-row .game-end-label {
  color: var(--secondary-text-color);
}
#game-end-time i {
  color: var(--main-color);
}
#game-end-mistakes i {
  color: #e23636;
}
#game-end-score i,
#game-end-score .game-end-val {
  color: #f9c833;
}
#play-again {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

/* SETTIGNS */
#settings-dialog-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#settings-dialog {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
#settings-dialog .settings-input-title {
  display: flex;
  gap: 5px;
  color: white;
}
#settings-dialog .settings-input-title i {
  color: var(--secondary-text-color);
}
#grid-options-row {
  display: flex;
  gap: 5px;
  margin: 5px 0px 10px;
}
#grid-options-row span {
  padding: 8px 10px;
  background-color: var(--back-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 8px;
}
#grid-options-row span.selected {
  background-color: var(--main-color);
  color: var(--back-color);
}
#settings-dialog input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  outline: none;
}
#settings-dialog input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
