:root {
  --back-color: #14181f;
  --main-color: #17cfbf;
  --text-color: white;
  --secondary-color: #191d24;
  --secondary-text-color: #7588a3;
  --border-color: #303541;
}
* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NAV */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  font-weight: bold;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}
nav p {
  font-size: 35px;
  color: var(--text-color);
}
nav p span {
  color: var(--main-color);
  text-shadow: 0px 0px 10px var(--main-color);
}
nav i:nth-child(1) {
  color: var(--main-color);
  font-size: 25px;
}
nav i:nth-child(3) {
  color: yellow;
  font-size: 18px;
}

/* SETTINGS */
#settings-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 20px;
  gap: 5px;
}
#settings-cont i {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
}
#settings-btn {
  color: var(--main-color);
}
#leader-btn {
  color: yellow;
}

#pre-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pre-game.playing {
  display: none;
}

/* EMPTY */
#empty-grid {
  background-color: var(--secondary-color);
  max-width: 600px;
  margin: 50px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 3px dashed var(--border-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
}
#empty-grid i {
  font-size: 50px;
}
#empty-grid p {
  color: var(--border-color);
}

/* START BUTTON */
#start {
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--back-color);
  border: none;
  font-size: 30px;
  box-shadow: 0px 0px 10px 0px var(--main-color);
}

/* GRID */
#game-play-ui {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#game-play-ui.playing {
  display: flex;
}
#game-grid {
  width: 100%;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: grid;
}

/* CARD */

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}

.card.flipped {
  transform: rotateY(180deg);
}
.card-face {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card-front {
  background-color: #153438;
}
.card-front i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: #154c4e;
  color: var(--main-color);
}

.card .card-back {
  transform: rotateY(180deg);
  background-color: red;
}
